.heading-xl {
    font-size: 64px;
    letter-spacing: -5px;
    line-height: 110%;
    font-weight: 600;
    color: $gunmetal;
}

.heading-l {
    font-size: 48px;
    letter-spacing: -3px;
    line-height: 110%;
    font-weight: 600;
    color: $gunmetal;
}

.heading-m {
    font-size: 24px;
    letter-spacing: -1px;
    font-weight: 700;
    color: $gunmetal;
}

.heading-s {
    font-size: 20px;
    letter-spacing: -1px;
    font-weight: 600;
    color: $gunmetal;
}

.body-m {
    font-size: 16px;
    line-height: 150%;
    font-weight: normal;
    color: $darkblue;
}

.body-m-bold {
    font-size: 16px;
    line-height: 150%;
    font-weight: bold;
    color: $darkblue;
}

.body-s {
    font-size: 14px;
    line-height: 150%;
    font-weight: normal;
    color: $darkblue;
}